<nav class="navbar navbar-expand-lg navbar-light nav-fill bg-dark p-2">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/api/product">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/api/detalle">detalles</a>
          </li>
          <li class=" nav-item btn-render">  <a class="nav-link text-white" id="btncarrito" href="#">chat</a> <span class="spancarrito"> </span></li>
        </ul>
      </div>
    </div>
  </nav>